html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	}

a {
		text-decoration: none;
		color: inherit;
		display: inline-block;
	}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

body {
	color: #2F3035;
	font-family: 'SFProDisplay-Regular', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.page-section {
	margin-bottom: 80px;
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 120px;
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
}

.menu__item {
	display: inline-block;
}

.menu__item + .menu__item {
	padding-left: 50px;
}

.header__box {
	display: flex;
}

.header__adress {
	margin-right: 60px;
	width: 265px;
	padding-left: 30px;
	position: relative;
}

.header__adress::before {
	content: "";
	position: absolute;
	background-image: url(../images/idress-icon.svg);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	left: 0;
	top: -10px;
}

.user-list {
	display: flex;
	align-items: center;
	margin-right: 15px;
	}

.user-list__item {
	padding-right: 10px;
}

.basket {
	position: relative;
}

.basket__num {
	position: absolute;
	font-family: 'SFProDisplay-Medium', sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 10px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	background-color: #1C62CD;
	border-radius: 50%;
	bottom: -15px;
	right: -14px;
	text-align: center;
}
.header__bottom {
	margin-bottom: 80px;
}

.menu-categories {
	background-color: #F0F0F4;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 53px;
}

.menu-categories__item {
	position: relative;
}

.menu-categories__link {
	padding: 15px 0 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -50%);
}

.menu-categories__link::before {
	content: "";
	position: absolute;
	width: 0;
	left: auto;
	right: 0;
	background-color: #1C62CD;
	height: 3px;
	bottom: -2px;
	transition: all, .3s;
}

.menu-categories__link:hover {
	font-family: 'SFProDisplay-Semibold', sans-serif;
	font-weight: 600;
}

.menu-categories__link:hover::before {
	width: 100%;
	right: auto;
	left: 0;
}

.banner-section__inner {
	display: flex;
	justify-content: space-between;
}

.banner-section__slider {
	max-width: 870px;
}

.banner-section__slider-btn,
.product-slider__slider-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	z-index: 5;
	cursor: pointer;
}

.banner-section__slider-btnprev {
	left: 20px;

}

.banner-section__slider-btnnext {
	right: 20px;
}

.slick-dots {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
}

.slick-dots li {
	display: inline-block;
	padding: 0 5px;
}

.slick-dots button {
	padding: 0;
	margin: 0;
	font-size: 0;
	width: 11px;
	height: 11px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: transparent;
}

li.slick-active button {
	background-color: #fff;
}

.sale-item {
	max-width: 265px;
	text-align: center;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sale-item-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.sale-item__info {
	color: #fff;
	background-color: #1C62CD;
	padding: 8px 20px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.1em;
}

.sale-item__price {
	text-align: right;
}

.price {
	font-family: 'Barlow', sans-serif;
	position: relative;
}

.sale-item__price-new {
	font-weight: 700;
	font-size: 27px;
	line-height: 32px;
	color: #1C62CD;
	margin-right: 6px;
	padding-right: 20px;
}

.sale-item__price-new::after {
	content: "";
	background-image: url('../images/icons-price.svg');
	width: 15px;
	height: 18px;
	position: absolute;
	right: 0;
	top: 8px;
}

.sale-item__price-old {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #C4C4C4;
	margin-right: 15px;
	background-image: url('../images/old-price-line.svg');
	padding: 2px 5px;
	background-repeat: no-repeat;
	display: inline-block;
}

.sale-item__price-old::after {
	content: "";
	background-image: url('../images/icons-price-old.svg');
	width: 8px;
	height: 10px;
	position: absolute;
	right: -10px;
	top: 8px;
}

.sale-item__footer {
	background-color: #F0F0F4;
	padding: 25px 20px;
	font-size: 18px;
	line-height: 21px;
}

.sale-item__footer span {
	font-family: 'Barlow', sans-serif;
	color: #1C62CD;
	display: block;
	font-weight: 700;
}

.sale-item__title {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	margin-bottom: 7px;
}

.banner-section__slider-img {
	object-fit: cover;
	min-height: 400px;
}

.sale-item__img {
	object-fit: contain;
}

.search__tabs {
	margin-bottom: 25px;
}

.search__tabs-item {
	padding: 11px 26px 12px;
}

.search__tabs-item.tab--active {
	font-family: 'SFProDisplay-Bold', sans-serif;
	border-radius: 5px;
	background-color: #F0F0F4;
	font-weight: 700;
}

.tabs-content {
	display: none;
}

.tabs-content.tabs-content--active {
	display: block;
}

.search__content-form {
	display: flex;
}

.search__content-input {
	background: #F0F0F4;
	border-radius: 3px;
	padding: 5px 20px;
	border: none;
	font-size: 16px;
	line-height: 19px;
	width: 100%;
}

.search__content-input::placeholder {
	color: #656464;
}

.search__content-btn {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #fff;
	background: #1C62CD;
	border-radius: 3px;
	padding: 17px 41px;
	border: none;
	margin-left: -3px;
}

.categories__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.categories__item {
	margin-bottom: 30px;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	width: 370px;
	display: flex;
	padding: 20px 20px 16px;
	justify-content: space-between;
	transition: all .3s;
}

.categories__item-info {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.categories__item-img {
	text-align: center;
	width: 50%;
}

.categories__item-img img {
	max-width: 100%;
}

.categories__item-title {
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	font-size: 23px;
	line-height: 28px;
	transition: all .3s;
}

.categories__item:hover {
	box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item:hover .categories__item-title {
	color: #1C62CD;
}

.categories__item-text {
	font-size: 14px;
	line-height: 17px;
	color: #C4C4C4;
}

.categories__item-text::after {
	content: url('../images/link-arrow.svg');
	padding-left: 2px;
}

.product-item__wrapper {
	position: relative;
	width: 271px;
	transition: all .3s;
}

.product-item__wrapper.product-item__wrapper--list {
	width: 100%;
}

.product-item {
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	text-align: center;
	padding: 52px 20px 31px;
	transition: all .3s;
	min-height: 400px;
	width: 100%;
}

.product-item-title {
	font-weight: normal;
	padding: 14px 0 25px;
	font-size: 18px;
	line-height: 21px;
}

.product-item__favorite {
	position: absolute;
	top: 16px;
	right: 19px;
	width: 24px;
	height: 22px;
	border: none;
	background-color: transparent;
	outline: none;
}

.product-item__favorite::before {
	content: "";
	position: absolute;
	width: 24px;
	height: 22px;
	top: 0;
	left: 0;
	background-image: url(../images/favorite.svg);
}

.product-item__favorite--active::before {
	background-image: url(../images/favorite-active.svg);
}

.product-item__price {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
}

.product-item__basket {
	position: absolute;
	width: 60px;
	height: 40px;
	background: #1C62CD;
	border-radius: 10px 0px 0px 0px;
	bottom: 0;
	right: 0;
	border: none;
	outline: none;
	padding-top: 7px;
	cursor: pointer;
	z-index: 10;
}

.product-item__hover-text {
	padding: 18px 21px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	background-color: rgba(255,255,255, .9);
	border-radius: 3px;
	display: inline-block;
	position: absolute;
	top: 30%;
	opacity: 0;
	transition: all, .3s;
}

.product-item:hover .product-item__hover-text {
	opacity: 1;
	color: #2F3035;
}

.product-item:hover {
	box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
color: #1C62CD;
}

.product-item:hover .product-item__notify-text {
	color: #2F3035;
}

.product-item--sale::before {
	content: "SALE";
	padding: 8px 15px;
	background-color: #1C62CD;
	position: absolute;
	left: 0;
	top: 0;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.07em;
}

.product-item__wrapper.product-item__not-available .product-item__price{
	display: none;
}

.product-item__notify-text {
	display: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text {
	display: block;
}

.product-item__wrapper.product-item__not-available .product-item__basket {
	display: none;
}

.product-item__notify-link {
	display: none;
}


.product-item__wrapper.product-item__not-available .product-item-title {
	padding-bottom: 13px;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link {
	display: block;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	color: #1C62CD;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}


.product-item__wrapper.product-item__not-available .product-item__notify-link span {
	border-bottom: 1px solid #1C62CD;
}

.product-title {
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 25px;
}

.products__tab + .products__tab {
	margin-left: 50px;
}

.products__tab {
	margin-bottom: 25px;
}

.products__tab {
	padding-bottom: 10px;
}

.products__tab.tab--active {
	border-bottom: 2px solid #1C62CD;
}


.product-slider__slider-btnprev {
	left: -20px;

}

.product-slider__slider-btnnext {
	right: -20px;
}

.slick-slide img {
	display: inline-block;
}

.products {
	margin-bottom: 80px;
}

.product__more {
	text-align: center;
	margin: 35px 0 0;
}

.product__more-link {
	background: #F0F0F4;
	padding: 16px 43px;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
}

.banner {
	margin-bottom: 80px;
}

.footer {
	background: #F0F0F4;
}

.footer-bottom {
	padding: 46px 0 22px;
	display: flex;
	justify-content: center;
}

.footer-bottom-link {
	font-size: 10px;
	line-height: 12px;
	color: #48494D;
	margin: 0 40px;
}

.footer-top {
	padding-top: 43px;
}

.footer__top-inner {
	display: flex;
	justify-content: space-between;
}

.footer__top-newslatter.footer__top-item{
	width: 295px;
	margin-right: 50px;
}

.footer__top-title {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
}

.footer-form {
	margin-top: 34px;
	display: flex;
	justify-content: space-between;
}

.footer-form__input {
	background-color: #fff;
	border: none;
	font-size: 14px;
	line-height: 17px;
	padding: 0 12px;
}

.footer-form__input::placeholder {
	color: #C4C4C4;
}

.footer-form__btn {
	font-family: 'SFProDisplay-Semibold', sans-serif;
	text-transform: uppercase;
	padding: 10px 16px;
	border: none;
	background-color: #1C62CD;
	color: #fff;
	font-weight: 600;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 0.12em;
}

.footer__top-item {
	width: 200px;
}

.footer-list {
	font-size: 14px;
	line-height: 22px;
}

.footer__top-social.footer__top-item {
	width: 250px;
}

.social-list {
	display: flex;
	align-items: center;
	height: 100%;
}

.social-list__item + .social-list__item {
	margin-left: 30px;
}

.breadcrumbs {
	margin-bottom: 40px;
}

.breadcrumbs__list-item {
	display: inline-block;
	padding-right: 16px;
	margin-right: 10px;
	position: relative;
	font-size: 15px;
	line-height: 18px;
	color: #C4C4C4;
}

.breadcrumbs__list-item::after {
	content: "";
	position: absolute;
	background-image: url('../images/link-arrow.svg');
	width: 6px;
	height: 9px;
	right: 0;
	bottom: 5px;
}

.breadcrumbs__list-item:last-child::after {
	display: none;
}

.catalog {
	margin-bottom: 100px;
}

.catalog__title {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 26px;
}

.catalog__filter {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.catalog__filter-items button {
	font-size: 14px;
	line-height: 17px;
	color: #2F3035;
	opacity: 0.7;
	background-color: #F0F0F4;
	border-radius: 3px;
	border: none;
	padding: 5px 22px;
	cursor: pointer;
}

.catalog__filter-items button + button {
	margin-left: 8px;
}

.catalog__filter-btn button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.catalog__filter-btn button + button {
	margin-left: 10px;
}

.catalog__filter-btn {
	display: flex;
	align-items: center;
}

button.catalog__filter-btngrid {
	width: 26px;
	height: 21px;
}

button.catalog__filter-btnline {
	width: 25px;
	height: 19px;
}

.catalog__filter-button {
	opacity: 0.3;
	outline: none;
}

.catalog__filter-button--active {
	opacity: 1;
}

.select-item {
	border: 1px solid #D7D9DF;	
	font-size: 14px;
	line-height: 17px;
	margin-right: 34px;
	padding: 7px 10px 7px 20px;
}

.catalog__inner {
	display: flex;
}

.catalog__inner-aside {
	min-width: 290px;
	margin-right: 10px;
}

.catalog__inner-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog__inner-list .product-item__wrapper {
	margin-bottom: 30px;
}

.product-item__img {
	max-width: 100%;
}

.pagination {
	width: 100%;
	margin-top: 70px;
} 

.pagination-list {
	display: flex;
	justify-content: center;
}

.pagination-list__item {
	padding: 6px 12px;
	border: 2px solid transparent;
	margin: 0 4px;
	font-size: 18px;
	line-height: 22px;
	color: #C4C4C4;
}

.pagination-list__item.active {
	border: 2px solid #1C62CD;
	color: #1C62CD;
}

.pagination-list__item a {
	display: block;
}

.aside-filter__tabs {
	display: flex;
	justify-content: space-between;
}

.aside-filter__tab {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: #C4C4C4;
	width: 50%;
}

.aside-filter__tab.tab--active {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: bold;
	color: #2F3035;
}


.aside-filter__tab.tab--active span {
	display: inline-block;
	border-bottom: 2px solid #1C62CD;
	padding-bottom: 7px;
}

.aside-filter__item-drop {
	margin: 40px 0;
}

.aside-filter__item-title {
	font-family: 'SFProDisplay-Semibold', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	padding-left: 26px;
}

.filter__item-drop {
	position: relative;
	cursor: pointer;
}

.filter__item-drop::before {
	content: "";
	background-image: url(../images/arrow-down.svg);
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 12px;
	height: 8px;
	transform: rotate(0deg);
}


.filter__item-drop--active::before {
	transform: rotate(180deg);
}

.aside-filter__content {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
}

.aside-filter__content-box {
	width: 50%;
	margin-bottom: 10px;
}
 
.aside-filter__content-label {
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	cursor: pointer;
}

.jq-checkbox,
.jq-radio {
	background: #fff;
	width: 14px;
	height: 14px;
	border: 1px solid #c4c4c4;
	border-radius: 1px;
	box-shadow: none;
	vertical-align: -1px;
	margin: 0 8px 0 0;
}

.jq-checkbox.checked,
.jq-radio.checked {
	background: #1C62CD;
	border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
	width: 8px;
	height: 6px;
	margin: 4px 0 0 3px;
	border-bottom: none;
	border-left: none;
	transform: rotate(0);
	background-image: url(../images/checked-icon.svg);
}

.jq-radio.checked .jq-radio__div {
	width: 0;
	height: 0;
	margin: 0;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
}

.aside-filter__content.aside-filter__content-radio {
	flex-wrap: nowrap;
}

.irs--flat {
	width: 100%;
	margin-top: -15px;
}


.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	display: none;
}

.irs--flat .irs-min, 
.irs--flat .irs-max {
	font-family: 'Barlow', sans-serif;
	top: 55px;
	padding: 0;
	font-size: 14px;
	line-height: 17px;
	text-decoration: underline;
	color: #2F3035;
	text-shadow: none;
	background-color: transparent;
	border-radius: 0;
	visibility: visible !important;
	padding-left: 27px;
}

.irs-min::before, 
.irs-max::before {
	position: absolute;
	font-size: 14px;
	line-height: 17px;
	color: #C4C4C4;
	text-decoration: none;
	left: 0;
}

.irs-min::before {
	content: 'от';
}

.irs-max::before {
	content: 'до';
}

.irs--flat .irs-line {
	top: 25px;
	height: 1px;
	background-color: #e0e0e0;
	border-radius: 0;
}

.irs--flat .irs-bar {
	top: 25px;
	height: 3px;
	background-color: #1C62CD;
}

.irs--flat .irs-handle {
	top: 22px;
	width: 8px;
	height: 8px;
	background-color: #1C62CD;
	border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
	background-color: #1C62CD;
}

.aside-filter__item-list {
	margin: 46px 0 40px;
}

.filter__item-list {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #C4C4C4;
	padding-top: 34px;
}

.filter__item-listtitle {
	font-family: 'SFProDisplay-Semibold', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 14px;
	padding-left: 26px;
}

.filter__item-listselect {
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #48494D;
}

.jq-selectbox__select {
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #48494D;
	height: 20px;
	padding: 0 25px 0 10px;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	text-shadow: none;
	border: none;
}

.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 14px;
	right: 12px;
	width: 0;
	height: 0;
	border: 0;
}

.jq-selectbox__trigger {
	background-image: url(../images/arrow-down.svg);
	bottom: 5px;
	width: 12px;
	height: 8px;
	border-left: none;
	top: 6px;
	right: 9px;
}

.jq-selectbox__select:hover,
.jq-selectbox__select:active {
	background: transparent;
	box-shadow: none;
}

.jq-selectbox.focused .jq-selectbox__select {
	border: none;
}

.jq-selectbox li:hover {
	background: rgba(107, 126, 172, 0.05);
	color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li.selected {
	background: rgba(107, 126, 172, 0.05);
	color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li {
	color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox__dropdown {
	border-radius: 0;
	padding-top: 15px;
}

.filter-more {
	width: 100%;
}

.filter-more-btn {
	font-size: 14px;
	line-height: 17px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #1C62CD;
	color: #1C62CD;
	padding: 0;
}

.filter-search {
	width: 100%;
	border: 1px solid #E0E0E0;
	height: 30px;
	padding: 0 20px;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.filter-search::placeholder {
	color: #BDBEC2;
}

.btn-checked .aside-filter__content {
	flex-wrap: nowrap;
	justify-content: space-between;
}

.btn-checked .aside-filter__content-box {
	width: auto;
}

 .btn-checked .aside-filter__content-label {
	font-family: 'SFProDisplay-Bold', sans-serif;
	position: relative;
	height: 25px;
	width: 63px;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.07em;
	color: #C4C4C4;
}

.btn-checked__text {
	position: absolute;
	top: -7px;
	left: 50%;
	transform: translateX(-57%);
	z-index: 5;
}

.btn-checked .jq-checkbox {
	background: #F0F0F4;
	height: 25px;
	width: 63px;
	border: none;
}

.btn-checked .jq-checkbox.checked {
	background: #1C62CD;
}

.btn-checked .jq-checkbox.checked ~ .btn-checked__text {
	color: #fff;
}

.btn-checked .jq-checkbox.checked .jq-checkbox__div {
	display: none;
}

.filter-btn__send {
	background: #F0F0F4;
	padding: 16px 85px;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.12em;
	color: #BDBEC2;
	border: none;
	cursor: pointer;
	margin-bottom: 15px;
}

.filter-btn__send--active {
	background-color: #1C62CD;
	color: #fff;
}

.aside-filter__item-btn {
	text-align: center;
}

.filter__extra {
	font-size: 13px;
	line-height: 16px;
	position: relative;
	padding-right: 29px;
	display: inline-block;
	margin-bottom: 15px;
}

.filter__extra::after {
	content: '';
	position: absolute;
	right: 0;
	top: 4px;
	background-image: url(../images/arrow-down.svg);
	width: 12px;
	height: 8px;
}

.filter__extra-content {
	display: none;
}

.filter__extra.filter__item-drop--active::after {
	transform: rotate(180deg);
}

.filter-btn__reset {
	background-color: transparent;
	padding: 0;
	border: none;
	font-size: 13px;
	line-height: 16px;
	border-bottom: 1px solid #C4C4C4;
	display: inline-block;
	color: #C4C4C4;
}

.product-card {
	margin-bottom: 80px;
}

.product-card__inner {
	display: flex;
	justify-content: space-between;
}

.product-card__img-box {
	font-family: 'Barlow', sans-serif;
	width: 500px;
	text-align: center;
	padding-top: 64px;
	position: relative;
}

.product-card__img-box::before {
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.12em;
	padding: 13px 25px;
	border-radius: 3px;
}

.product-card__price-old {
	display: inline-block;
	font-size: 44px;
	line-height: 50px;
	color: #2F3035;
	opacity: 0.6;
	margin-bottom: 0;
	background-image: url(../images/old-price-line.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.product-card__price-new {
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	color: #2F3035;
	margin-bottom: 17px;
}

.product-card__link {
	font-size: 15px;
	line-height: 18px;
	color: #1C62CD;
	border-bottom: 1px solid #1C62CD;
}

.product-card__content {
	width: 570px;
}

.product-card__title {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 10px;
}

.product-card__code {
	font-size: 15px;
	line-height: 18px;
	color: #2F3035;
	opacity: 0.6;
	margin-bottom: 22px;
}

.product-card__buttons {
	margin-bottom: 50px;
}

.product-card__tab {
	font-size: 20px;
	line-height: 24px;
	color: #2F3035;
	opacity: 0.6;
	padding-bottom: 5px;
	padding-right: 17px;
	margin-bottom: 5px;
}

.product-card__tab + .product-card__tab {
	padding-left: 17px;
}

.product-card__tab.tab--active {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: bold;
	opacity: 1;
	border-bottom: 2px solid #1C62CD;
}

.product-card__item {
	display: flex;
	justify-content: space-between;
	padding: 15px 0 6px;
	border-bottom: 1px solid rgba(47, 48, 53, 0.1);
}

.product-card__item-left {
	padding-right: 15px;
}

.product-card__item-right {
	width: 125px;
}

.product-card__more {
	font-size: 14px;
	line-height: 17px;
	color: #1C62CD;
	border-bottom: 1px solid #1C62CD;
	margin-bottom: 40px;
}

.product-card__list {
	margin-bottom: 20px;
}

.product-card__btn button {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 16px 56px;
	background: #1C62CD;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

.product-card__buttons a + a {
	margin-left: 30px;
}

.card__tabs {
	margin-bottom: 100px;
}

.card__tab-box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 22px 0;
	background: #F0F0F4;
	margin-bottom: 50px;
}

.card__tab {
	font-size: 20px;
	line-height: 24px;
	color: #2F3035;
	opacity: 0.6;
}

.card__tab.tab--active {
	border-bottom: 2px solid #1C62CD;	
	opacity: 1;
}

.card__top-line {
	margin-bottom: 10px;
}

.card__label-search {
	font-size: 17px;
	line-height: 20px;
	color: rgba(47, 48, 53, 0.7);
}

.card__input-search {
	background: #F0F0F4;
	border-radius: 3px;
	margin-left: 17px;
	padding: 9px 37px 9px 17px;
	border: none;
	margin-right: 100px;
}

.card__label-pickup {
	margin-left: 54px;
	font-size: 17px;
	line-height: 20px;
	color: rgba(47, 48, 53, 0.7);
}

.card__list-item {
	display: flex;
	padding: 20px 0;
	border-bottom: 1px solid rgba(47, 48, 53, 0.1);
	font-size: 16px;
	line-height: 22px;
	color: rgba(47, 48, 53, 0.7);
}

.card__list-itemtitle {
	color: rgb(47, 48, 53);
	font-size: 20px;
	line-height: 24px;
}

.card__list-address {
	width: 220px;
	margin-right: 80px;
}

.card__list-workhours {
	width: 173px;
	margin-right: 80px;
}

.card__list-workhours span {
	display: block;
}

.card__list-avialable {
	width: 140px;
	margin-right: 60px;
}

.card__list-num {
	width: 104px;
}

.card__list-btn {
	margin-left: auto;
}

.card__list-btn button {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.12em;
	color: #FFFFFF;
	padding: 9px 40px;
	text-transform: uppercase;
	background-color: #1C62CD;
	border: none;
	border-radius: 3px;
}
